@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --bg-color: #000000;
    --text: #ffffff;
    --gray: #a1a1aa;
    --nav-height: 60px;
    --current-accent: #00d2ff; 
    color: #fff;
    scroll-behavior: smooth;
}